# DATABASE

DB_TYPE = mariadb
DB_HOST = ip_db_host
DB_PORT = port_db_host
DB_USER = user_db_host
DB_PASSWORD = pass_db_host
DB_DATABASE = database_host


# JWT

JWT_SECRET = jwt_secret
EXPIRES_IN = 8h


# MAIN

PORT = nestjs_port