# CONFIGURACIÓN OPCIONAL DEL FRONTEND
# Por defecto, el frontend lee automáticamente el puerto de ../back/.env
# Si deseas sobrescribirlo específicamente para el front, descomenta alguna de las siguientes líneas:

# API_PORT = 3000
# API_URL = http://localhost:3000
